.container {
  width: 500px;
  height: 400px;
  background-color: #023047;

  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  margin-top: 90px;
  padding: 30px;
}
body {
  background-color: #ced4da;
}
h1 {
  color: white;
  font-family: "Rubik", sans-serif;
  margin: 0;
}
.second-text {
  color: #fb8500;
}
p {
  font-size: 24px;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Rubik", sans-serif;
}
#generate-button {
  padding: 15px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  border-radius: 10px;
  border: none;
  margin-bottom: 15px;
  background-color: #fb8500;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
#generate-button:hover {
  background-color: #ced4da;
  color: #fb8500;
}
hr {
  color: #023047;
  background-color: #023047;
  margin-bottom: 20px;
}
button {
  padding: 15px;
  background-color: #fb8500;
  border: none;
  margin: 10px;
  border-radius: 5px;
}
button:focus {
  border: none;
  background-color: #ced4da;
}
